* {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#todo-wrapper {
  margin: 0 auto;
  width: 320px;
}

.right-icon {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50%;
  width: 20px;
  &.fa-close { color: @brand-danger; }
}
tasklists {
  h3 { position: relative; }
}

list {
  h2 {
    position: relative;
    .right-icon { font-size: 0.8em; }
  }
  li {
    position: relative;
    &:nth-of-type(odd) { background-color: @table-bg-accent; }
    .check {
      display: inline-block;
      margin-right: 5px;
    }
    &:hover { background-color: @table-bg; }
    .description {
      width: 100%;
      &.done { text-decoration: line-through; }
    }
  }
}

logentry {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  .alert {
    margin-bottom: 0;
    padding: 7px 15px;
  }
}