{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1">
    <meta name="keywords" content="{% block meta-keywords %}todo list, can.js{% endblock %}">
    <meta name="description" content="{% block meta-description %}A todo list made using can.js{% endblock %}">
    <meta name="author" content="{% block meta-author %}ChrisCauley{% endblock %}">
    <meta name="application-name" content="CanDo">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>

    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less" />
    {% endcompress %}

    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie8.css"/>
    <![endif]-->

    {% block extrahead %}{% endblock %}
    {% block extra-head %}{# compromise =D #}{% endblock %}
  </head>

  <body>
    {% block github %}
    <a href="https://github.com/chriscauley/cando" id="fork_on_github"><img src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    {% endblock %}
    <div id="wrapper">
      <header>
        {% block nav %}{% include "_nav.html" %}{% endblock %}
      </header>
      <div id="content">
        {% block header %}<h1 id="content-header">{% block header_content %}{% endblock %}</h1>{% endblock %}
        {% block content %}{% endblock %}
      </div>
      <footer id="footer">
        {% block footer %}{% include "footer.html" %}{% endblock %}
      </footer>
    </div>
    {% if "riot" in request.path %}
    <script src="{{ STATIC_URL }}tags/tasks.tag" type="riot/tag"></script>
    <script src="{{ STATIC_URL }}tags/lists.tag" type="riot/tag"></script>
    <script src="https://cdn.jsdelivr.net/g/riot@2.0.14(riot.min.js+compiler.min.js)"></script>
    {% else %}
    <script src="//canjs.com/release/latest/can.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    {% endif %}
    {% block extra-js %}{% endblock %}
  </body>
</html>
